@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Krona+One&display=swap');

*{
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krona One", sans-serif;
}

main{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
}
main .aside{
    width: 50vw;
    background-image: url(../../images/assets/Melo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
main .aside .logo{

    margin: 2% 0 0 60%;
}
main .aside .logo img{
    width: 80%;
}
main .aside .title{
    height: 70%;
    display: flex;
    align-items: center;
}
main .aside .title h1{
    margin-left: 5%;
    font-size: 4rem;
    max-width: 10%;
    line-height: 90%;
    color: #9EFF00;
}
main .other-side{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}
main .other-side .adv{
    text-align: center;
    font-size: .5rem;
    max-width: 50%;
    margin-top: 2%;
    color: #9EFF00;
    opacity: .4;
}
main .other-side .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .other-side .main-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .other-side .main-container h1{
    font-size: 2rem;
    color: #9EFF00;
}
main .other-side .main-container h4{
    font-size: .5rem;
    font-weight: 100;
    color: #9EFF00;
}
main .other-side .main-container input[type=password], input[type=text], input[type=email]{
    width: 200%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #9EFF00;
    color: whitesmoke;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s;
}
main .other-side .main-container input[type=submit]{
    width: 120%;
    height: 50px;
    border: 2px solid #9EFF00;
    color: rgb(19, 19, 19);
    background-color: #9EFF00;
    transition: .5s;
    margin-top: 10%;
}
main .other-side .main-container input[type=submit]:hover{
    color: #9EFF00;
    background-color: #131313;
    cursor: pointer;
}
label{
    color: #121212
}
@media (max-width: 929px) {
    main .other-side .main-container input[type=password], input[type=text], input[type=email]{
        width: 170%;
    }
}
@media (max-width: 788px) {
    main .other-side .main-container input[type=password], input[type=text], input[type=email]{
        width: 140%;
    }
}
@media (max-width: 699px) {
    main{
        flex-direction: column;
    }
    main .aside{
        width: 100%;
        height: 10vh;
        background-image: none;
        background-color: #121212;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .aside .title{
        display: none;
    }
    main .aside .title h1{
        font-size: 1rem;
        max-width: 100%;
        margin-left: 0%;
        text-align: center;
    }
    main .other-side{
        height: 90vh;
        width: 100%;
    }
    main .other-side .adv{
        max-width: 50%;
        font-size: .5rem;
    }
    main .aside .title h1{
        margin-top: -20%;
    }
    main .other-side .main-container input[type=password], input[type=text], input[type=email]{
        width: 170%;
    }
}